<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PostMe_v0.3</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
 </head>
<body>
{% include 'header.html' %}



{% if lat != 0 %}
  <div id="main_content">

</br>
  <h2>Доступно access_tokens: {{ lat }}</h2></br>
<form action="/upload_access_tokens_list"  enctype="multipart/form-data" method="POST">
<input type="file" name="file">
<input id="post_btn" type="submit" name="upload_access_tokens_list" value="Загрузить новый список access_tokens">
</form></br>

<form action="/remove_access_tokens" method="POST">
        <input type="hidden" name="remove_access_tokens"/>
        <input id="post_btn" type="submit" value="Удалить ВСЕ access_tokens" />
    </form></br>

<hr>
</br>

    <h1>Доступные рассылки</h1></br>
    <form action="/add_dispatch" method="POST">
        <input type="hidden" name="add_dispatch"/>
        <input id="post_btn" type="submit" value="Создать рассылку" />
    </form></br>
    <div id="dispatch" class="dispatch">
        {% for d in dispatches %}
        </br><h2><a href="/dispatch/{{ d }}">Рассылка {{ d }}</a></h2></br>
        <table><tr><td>
        <form action="/dispatch/{{ d }}" method="POST">  
          <input type="hidden" name="add_post" value="{{ d }}"/>
          <input id="post_btn" type="submit" value="Перейти" />
        </form>
        </td><td>
        <form action="/remove_dispatch" method="POST">
          <input type="hidden" name="remove_dispatch" value="{{ d }}"/>
          <input id="post_btn" type="submit" value="Удалить рассылку" />
        </form>
        </td></tr></table>
        <hr>
        {% endfor %}
          
    </div>
  </div>


{% else %}
<div id="main_content">
<h2>Доступно access_tokens: {{ lat }}</h2></br>
<h2><b><font color="red">Внимание! Без списка access_tokens работать ничего не будет!</font></b></h2>
</br>
<form action="/upload_access_tokens_list"  enctype="multipart/form-data" method="POST">
<input type="file" name="file">
<input id="post_btn" type="submit" name="upload_access_tokens_list" value="Загрузить access_tokens">
</form>
</div>
{% endif %}
</body>
</html>